@{
    ViewData["Title"] = "Services";
}
<div class="text-center">
    <h1 class="display-4">Services</h1>
    <p> Este es  mi web site </p>
</div>
<div class="col-12">
    <div class="col-md-3"> 


    </div>
</div>
